doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
    link(rel='stylesheet', href='/stylesheets/flat-ui.css')
    link(rel='stylesheet', href='/stylesheets/docs.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/components/jquery/jquery.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.js')
    script(type='text/javascript', src='/components/namespacejs/namespace.js')
    script(type='text/javascript', src='/components/underscore/underscore.js')
    script(type='text/javascript', src='/javascripts/app/router.js')
    script(type='text/javascript', src='/javascripts/app/routing.js')
    script(type='text/javascript', src='/javascripts/app/upload/widget/FormManager.js')
    script(type='text/javascript', src='/javascripts/app/slide/widget/SlidePlayer.js')

    block jstemplate
  body
    .wrap
      .navbarFix
        ul
          li
            a.sitename(href='/') Slide Note
          li
            a(href='/upload/') Upload
      .contblock
        block content
