doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    script(type='text/javascriptst', src='/components/jquery/jquery.js')
    script(type='text/javascriptst', src='/components/bootstrap/dist/js/bootstrap.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Slide Note
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/upload/') Upload

    block content

    .container
      hr
      footer
        p @nazomikan 2013

