extends ../layout

block jstemplate
  script#alert-message-template(type="text/template")
    | <% _.each(msgs, function (txt) { %>
    |   <p><%= txt %></p>
    | <% }); %>

block content
  .jumbotron#upload
    .container
      h2 Upload Slide

      form.form-horizontal(role='form', action="/uploaded/", enctype="multipart/form-data")
        .form-group
          label.col-lg-2.control-label.file-choice-label(for='file-choice')
            | select file (*.pdf)
          .col-lg-6
            .file
              span ファイルを選択*
              input.file-choice-item(type="file", accept="application/pdf")
        .form-group
          label.col-lg-2.control-label(for="file-name") title*
          .col-lg-6
            input#file-name(type="text", placeholder="スライドの名前")
        .form-group
          label.col-lg-2.control-label(for="file-author") author
          .col-lg-6
            input#file-author(type="text", placeholder="作成者の名前")
        .form-group
          label.col-lg-2.control-label(for="file-description") description
          .col-lg-6
            textarea.form-control(rows="5")
        .form-group
          label.col-lg-2.control-label(for="file-tags") tags
          .col-lg-6
            input#file-tags.col-lg-6(type="text", placeholder="キーワード(,)で複数設定可")
        div.alert.alert-block.alert-danger(style="display: none;")
          h4 Oh snap! There'll be input leakage.
          .message
        .form-group#submit-area
          .col-lg-offset-2.col-lg-10
            button.btn.btn-primary(type='submit') Upload
        #upload-progress.hide
          p uploading..
          .progress.progress-striped.active
            .bar.progress-bar.progress-bar-info(role="progressbar", style='width: 0%')
        #convert-progress.hide
          p converting..
          .progress.progress-striped.active
            .bar.progress-bar.progress-bar-success(role="progressbar", style='width: 0%')

