#page-top .container{
  width: 75%;
}

.padding-left-none {
  padding-left: 0 !important;
}

#upload label{
  font-size: 16px;
  line-height: 16px;
}

#upload .file {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  border: 1px solid #999;
  background-color: #eee;
  font-size: 14px;
  line-height: 35px;
}

#upload .file input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}

#slide-player .glyphicon {
  font-size: 25px;
}

#slide-player .zoom {
  float: right;
  color: #6699cc;
  border: 1px solid #dddddd;
  padding: 5px 7px 5px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 4px;
}
