extends ../layout

block content
  .container
    .col-lg-12
      h2 title
      div
        .thumbnail
          img(src="http://24.media.tumblr.com/tumblr_mde330dvF01r2g5mso1_400.jpg")
          .caption
            ul.pager
              li
                a(href="#") Previous
              li
                a(href="#") Next

      p
        span title
        .well.well-sm
          | cuckoo is great library
      p
        span author
        .well.well-sm
          | @nazomikan

      p
        span keyword
        .well.well-sm
          | node, spec, stub, mock

      p
        span description
        .well.well-lg
          | this is a great library


